[Desktop Entry]
Type=Application
Name=MusicStreamer
GenericName=Internet Radio
Exec=musicstreamer
Icon=org.lightningjim.MusicStreamer
Categories=Audio;Music;Network;
Comment=Internet radio stream player
Keywords=radio;stream;music;internet;
StartupNotify=true
StartupWMClass=MusicStreamer
